p{
    text-align: center;
}
h1{
    text-align: center;
   /* text-decoration: underline;
   text-decoration: overline;
   text-decoration: line-through;
   text-decoration: red underline;
   text-decoration: underline dotted;
   text-decoration: underline dotted red;*/
   text-decoration: green wavy underline;

   
}
